@keyframes plasma {
  0% {
    transform: scale(6) translate3d(20px, 0, 0);
  }
  50% {
    transform: scale(1) translate3d(-60px, 0, 0);
  }
  100% {
    transform: scale(6) translate3d(20px, 0, 0);
  }
}
.plasma {
  display: block;
  border-radius: 50%;
  background-color: white;
  backface-visibility: hidden;
  z-index: 3;
  position: relative;
  width: 250px;
  height: 250px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px 0 #000 inset;
}
.plasma .gooey-container {
  filter: url(#gooey-plasma);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 25px #000 inset;
  border-radius: 50%;
  overflow: hidden;
}
.plasma .gooey-container .bubble {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: right;
}
.plasma .gooey-container .bubble:before {
  content: "";
  display: inline-block;
  background: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: scale(6) translate3d(20px, 0, 0);
  box-shadow: 0 0 15px 0 #000 inset, 0 0 15px 0 #000 inset;
}
.plasma .gooey-container .bubble:nth-child(1) {
  transform: translate(-50%, -50%) rotate(60deg);
}
.plasma .gooey-container .bubble:nth-child(1):before {
  animation: plasma 3.5s linear 0.25s infinite;
}
.plasma .gooey-container .bubble:nth-child(2) {
  transform: translate(-50%, -50%) rotate(120deg);
}
.plasma .gooey-container .bubble:nth-child(2):before {
  animation: plasma 4s linear 0.5s infinite;
}
.plasma .gooey-container .bubble:nth-child(3) {
  transform: translate(-50%, -50%) rotate(180deg);
}
.plasma .gooey-container .bubble:nth-child(3):before {
  animation: plasma 4.5s linear 0.75s infinite;
}
.plasma .gooey-container .bubble:nth-child(4) {
  transform: translate(-50%, -50%) rotate(240deg);
}
.plasma .gooey-container .bubble:nth-child(4):before {
  animation: plasma 5s linear 1s infinite;
}
.plasma .gooey-container .bubble:nth-child(5) {
  transform: translate(-50%, -50%) rotate(300deg);
}
.plasma .gooey-container .bubble:nth-child(5):before {
  animation: plasma 5.5s linear 1.25s infinite;
}
.plasma .gooey-container .bubble:nth-child(6) {
  transform: translate(-50%, -50%) rotate(360deg);
}
.plasma .gooey-container .bubble:nth-child(6):before {
  animation: plasma 6s linear 1.5s infinite;
}
